<?php if(!empty($errors)) :?>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Des erreurs se sont produites</p>
        <ul>
        <?php foreach($errors as $error) :?>
            <li><?=$error?></li>
        <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<form method="POST">

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password">
    </div>

    <input type="submit" class="btn btn-primary" value="Log In">

</form>