<?php if(!empty($errors)) :?>
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p>Des erreurs de sont produites</p>
        <ul>
        <?php foreach($errors as $error) :?>
            <li><?=$error?></li>
        <?php endforeach ?>
        </ul>
    </div>
<?php endif ?>

<form method="POST" enctype="multipart/form-data">

    <div class="form-group">
      <label for="firstName">Firstname</label>
      <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Firstname">
    </div>

    <div class="form-group">
      <label for="lastname">Lastname</label>
      <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Lastname">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Email">
      <small id="emailHelp" class="form-text text-muted">Saisissez une adresse mail.</small>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" aria-describedby="lastnameHelp" placeholder="Password">
      <small id="lastnameHelp" class="form-text text-muted">Saisissez un password.</small>
    </div>

    <div class="form-group">
      <label for="password">Password confirmation</label>
      <input type="password" class="form-control" name="password2" id="password2" aria-describedby="emailHelp" placeholder="Password Confirmation">
      <small id="emailHelp" class="form-text text-muted">Confirmez le password.</small>
    </div>

    <div class="form-group">
      <label for="bio">Bio</label>
      <input type="text" class="form-control" name="bio" id="bio" aria-describedby="bioHelp" placeholder="Bio">
      <small id="bioHelp" class="form-text text-muted">Saisissez votre bio.</small>
    </div>

    <div class="form-group">
      <label for="file">Avatar</label>
      <input type="file" class="form-control" name="fileToUpload" id="fileToUpload" aria-describedby="fileHelp" placeholder="Avatar">
      <small id="fileHelp" class="form-text text-muted">Inserez votre avatar</small>
    </div>

          <!-- Check-box/s rôle/s -->
    <fieldset>
      <legend>Role</legend>
        <div class="form-group">
          <select name="role" id="role" class="custom-select">
            <option selected="">Selection du role</option>
            <option value="ROLE_ADMIN">Admin</option>
            <option value="ROLE_AUTHOR">Author</option>
            <option value="ROLE_USER">User</option>
          </select>
        </div>
    </fieldset>

  <input type="submit" class="btn btn-primary" value="Ajouter">

</form>